.nav-link, a{
    color: #fff;
}

.navbar-nav{
    margin-left: 100px;
}

.active{
    font-weight: bold;
}

.btn{
    margin: 0px;
}

.btn-outline-warning{
    background-color: none;
    border-color: #fff;
    color: #fff;
    border: 1px solid;
    margin-right: 10px;
}
.form{
    position: relative;
    padding-top: 50px;
    margin: auto;
    width: 500px;
    min-height: 500px;
}
.footer{
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
}